:root:not([uidensity="compact"]) {
	--tab-min-height: 32px !important;
	--urlbar-icon-padding: 4px !important;
}

:root {
	--toolbar-field-non-lwt-bgcolor: rgb(230, 230, 234) !important;
}

#navigator-toolbox:not(:-moz-lwtheme) {
	background-color: var(--toolbar-field-non-lwt-bgcolor) !important;
}

#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
	box-shadow: 0 0 4px rgba(128,128,142,0.5) !important;
}

.tab-background {
	position: relative;
}

.tab-background::after {
	/* For OS accent color */
	/* background: -moz-accent-color; */
	/* For Firefox brand gradient */
	background: var(--panel-separator-zap-gradient);
	border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0, 1);
	transform-origin: center center;
	transition: transform 75ms ease-in-out;
}

.tab-background[selected="true"]::after {
	transform: scale(1, 1);
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	display: none !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background::before {
	content: '';
	height: 4px;
	width: 4px;
	border-radius: 2px;
	background-color: var(--identity-icon-color);
	bottom: 4px;
	right: 4px;
	display: inline-block;
	position: absolute;
}

:not([uidensity="compact"]) .tab-label {
	margin-block: 0 !important;
}

:not([uidensity="compact"]) #urlbar-container {
	--urlbar-container-height: 36px !important;
}

:not([uidensity="compact"]) #urlbar {
	--urlbar-toolbar-height: 36px !important;
	--urlbar-height: 28px !important;
	--urlbar-min-height: 28px !important;
}

/* Move tabs below url toolbar */
#navigator-toolbox {
	display: flex !important;
	flex-flow: column nowrap !important;
	position: relative !important;
}

#titlebar {
	order: 99 !important;
}

/* Change this to padding-right for window controls on the right side */
#nav-bar-customization-target {
	padding-left: 80px;
}

/* Customize this for other environments than macOS */
.titlebar-buttonbox-container:-moz-locale-dir(ltr) {
	position: absolute !important;
	top: 10px !important;
	display: block !important;
}

.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] {
	display: none !important;
}
